<h1><%= @project.title %></h1>

<p><b>Body: </b><%= @project.body %></p>
<p><b>Author: </b><%= @project.author %></p>
<p><b>Status: </b><%= @project.status %></p>
<p><b>Bugs: </b></p>
<ul>
  <% @bugs.each do |bug| %>
    <li>
      <a href="/bugs/<%= bug.id %>">
        <%= bug.title %>
      </a>
    </li> 
      <% end %>
</ul>



<a href="/bugs/new">New Bug</a>
<ul>
  <li><%= link_to "Edit", edit_project_path(@project) %></li>
  <li><%= link_to "Destroy", project_path(@project), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>