<%= form_with model: bug do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    
   
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
   
    
  </div>

    <div>
    <%= form.label :assigned %><br>
    <%= form.select :assigned, options_from_collection_for_select(User.developer, 'id', 'email')
%>
</select>
</div>

     <div>
    <%= form.submit %>
  </div>
  <% end %>